.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.width{
  width: 15em;
}

.search{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}